<div class="container">
    <div class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="ti-user"></span> My Profile - Change Password</strong></div>

        <form role="form" name="passwordForm" class="details">
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="newPassword" data-ng-model="newPassword" required="required">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="confirmPassword" data-ng-model="confirmPassword" required="required">
            </div>
            <button class="btn btn-success btn-sm" ng-click="updatePassword()" ng-disabled="!passwordForm.$valid">
                Update Password</button>
            <button class="btn btn-danger btn-sm" ng-click="cancel()">
                Cancel</button>
        </form>
    </div>
</div>