<div id="content" class="content-container">
    <div class="page-signin ">

        <div class="signin-header">
            <section class="logo text-center">
                <h1><a ng-href="#/videos">Video Content Portal</a></h1>
            </section>
        </div>
        <div class="signin-body">
            <div class="container">
                <div class="form-container">
                <span ng-show="forgotPasswordError" class="help-block">
                                    {{forgotPasswordErrorMessage}}
                                </span>

                    <form class="form-horizontal" name="forgotForm">
                        <fieldset>
                            <div class="form-group" ng-class="{'has-error-login is-focused' : forgotPasswordError}">
                                <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                    <input type="email" class="form-control input-lg" placeholder="Email" id="email" data-ng-model="email" required="required">
                                </div>
                            </div>


                            <div class="divider divider-xl"></div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block" ng-click="sentRestoreEmail()" ng-disabled="!forgotForm.$valid">
                                    Send
                                    <div class="ripple-wrapper"></div></button>
                            </div>
                        </fieldset>
                    </form>

                    <div class="divider"></div>
                    <section class="additional-info">
                        <p class="text-right">
                            <a href="#/signin">Sign in</a>
                            <span> | </span>
                            <a href="#/signup">Sign up</a>
                        </p>
                    </section>

                </div>
            </div>
        </div>

    </div>
</div>