<div ng-controller="NavController">
<nav class="navbar navbar-default"  ng-show="isShowNavBar()">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/videos">Video Content Portal</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
            <ul class="nav navbar-nav" ng-show="isAdminPart()">
                <li ng-class="{active: isActive('/admin')}"><a href="#/admin">Admin Panel </a></li>
                <li ng-class="{active: isActive('/admin/users')}"><a href="#/admin/users">Users</a></li>
                <li ng-class="{active: isActive('/admin/videos')}"><a href="#/admin/videos">Videos</a></li>
                <li ng-class="{active: isActive('/admin/categories')}"><a href="#/admin/categories">Categories</a></li>
                <li ng-class="{active: isActive('/admin/companies')}"><a href="#/admin/companies">Companies</a></li>

            </ul>
            <form class="navbar-form navbar-left" role="search" ng-controller="SearchController">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="searchQuery" ng-model="query">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="find()"><i class="ti-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <ul ng-show="isAuthorized('user')" class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-default upload-video" ng-click="uploadForm()">
                            <span class="ti-upload"></span>
                            Upload Video
                        </button>
                    </li>
                    <li class="dropdown profile" uib-dropdown>
                        <a uib-dropdown-toggle>
                            <img class="img-circle img30_30" ng-src="{{account.avatar}}"/>
                            {{account.login}}<span class="caret"></span>
                        </a>
                        <ul class="uib-dropdown-menu">
                            <li><a href="#/admin" ng-show="isAuthorized('admin')"><i class="ti-settings"></i> Admin Panel</a></li>
                            <li><a href ng-click="viewProfile()"><i class="ti-user"></i> My Profile</a></li>
                            <li class="divider"></li>
                            <li><a href ng-click="doLogout()"><i class="ti-power-off"></i> Sign out</a></li>
                        </ul>
                    </li>
                </ul>
                <li ng-show="!authenticated"><a ng-href="#/signin">Sign In</a></li>
                <li ng-show="!authenticated"><a ng-href="#/signup">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>
