<div class="container">
    <h1>Create New Category</h1>

    <form role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Category Name" ng-model="category.name">
        </div>
        <button class="btn btn-primary btn-sm" ng-click="createNewCategory()">
            Save</button>
        <button class="btn btn-danger btn-sm" ng-click="cancel()">
            Cancel</button>
    </form>
</div>