<div id="content" class="content-container">
    <div class="col-md-12">
        <div class="page page-table" >
            <div class="panel panel-default table-dynamic">
                <div class="panel-heading clearfix">
                    <strong>
                        <span class="glyphicon glyphicon-list"></span>
                        List of categories
                    </strong>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-sm" ng-click="createCategory()">
                            Create new</button>
                    </div>

                </div>

                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form class="ng-pristine ng-valid">
                                <input type="text" placeholder="Search..." class="form-control ng-pristine ng-untouched ng-valid" ng-model="searchText" aria-invalid="false">
                            </form>
                        </div>
                        <div class="col-sm-3 col-xs-6 filter-result-info">
                                <span class="ng-binding">
                                    Showing {{filtered.length}}
                                    <span ng-if="filtered.length > 1"> entries</span>
                                    <span ng-if="filtered.length < 2"> entry</span>
                                </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive my-table">
                    <thead>
                    <tr>
                        <th><div class="th">
                            Name
                        </div></th>
                        <th><div class="th">

                        </div></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="category in categories.content | filter:searchText as filtered"  style="vertical-align: middle">
                        <td class="ng-binding">{{category.name}}</td>
                        <td>
                            <button class="btn btn-success btn-sm" ng-click="editCategory(category.id)">
                                Edit</button>
                            <button class="btn btn-danger btn-sm" ng-click="deleteCategory(category.id)">
                                Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>Show
                                <select ng-model="size" ng-options="num for num in entriesPerPage" data-ng-change="onNumPerPageChange(size)"  aria-invalid="false">
                                </select>
                                entries per page
                            </span>


                        </div>
                        <div class="col-md-6 text-right pagination-container" ng-show="categories.totalPages > 1">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-disabled="categories.first" ng-click="goToPage(0, size)">&laquo;</button>
                                <button type="button" class="btn btn-default" ng-disabled="categories.first" ng-click="goToPage(categories.number - 1, size)">Prev</button>
                                <button ng-repeat="n in [] | pages: categories.number:categories.totalPages:2" ng-class="{active: n === categories.number}" type="button" class="btn btn-default" ng-click="goToPage(n, size)">{{n + 1}}</button>
                                <button type="button" class="btn btn-default" ng-disabled="categories.last" ng-click="goToPage(categories.number + 1, size)">Next</button>
                                <button type="button" class="btn btn-default" ng-disabled="categories.last" ng-click="goToPage(categories.totalPages - 1, size)">&raquo;</button>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>