<div id="content" class="content-container">
    <div class="col-md-12">
        <div class="page page-table" >
            <div class="panel panel-default table-dynamic">
                <div class="panel-heading"><strong><span class="ti-user"></span> List of users</strong></div>

                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form class="ng-pristine ng-valid">
                                <input type="text" placeholder="Search..." class="form-control ng-pristine ng-untouched ng-valid" ng-model="searchText" aria-invalid="false">
                            </form>
                        </div>
                        <div class="col-sm-3 col-xs-6 filter-result-info">
                                <span class="ng-binding">
                                    Showing {{filtered.length}}
                                    <span ng-if="filtered.length > 1"> entries</span>
                                    <span ng-if="filtered.length < 2"> entry</span>
                                </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive my-table">
                    <thead>
                    <tr>
                        <th><div class="th">
                            Name
                        </div></th>
                        <th><div class="th">
                            Surname
                        </div></th>
                        <th><div class="th">
                            Login
                        </div></th>
                        <th><div class="th">
                            Email
                        </div></th>
                        <th><div class="th">

                        </div></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users.content | filter:searchText as filtered"  style="vertical-align: middle">
                        <td class="ng-binding">{{user.name}}</td>
                        <td class="ng-binding">{{user.surname}}</td>
                        <td class="ng-binding">{{user.login}}</td>
                        <td class="ng-binding">{{user.email}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="showVideos(user.id)">
                                View Videos</button>
                            <button class="btn btn-success btn-sm" ng-click="editUser(user.id)">
                                Edit</button>
                            <button class="btn btn-danger btn-sm" ng-click="deleteUser(user.id)">
                                Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <footer class="table-footer">
                    <div class="row">
                        <!--<div class="col-md-6 page-num-info">-->
                        <!--<span>-->
                        <!--Show-->
                        <!--<select data-ng-model="numPerPage" data-ng-options="num for num in numPerPageOpt" data-ng-change="onNumPerPageChange()" class="ng-pristine ng-untouched ng-valid" aria-invalid="false"><option label="3" value="number:3">3</option><option label="5" value="number:5">5</option><option label="10" value="number:10" selected="selected">10</option><option label="20" value="number:20">20</option></select>-->
                        <!--entries per page-->
                        <!--</span>-->
                        <!--</div>-->
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>