<div id="content" class="content-container">
    <div class="page-signup ">
        <div class="signin-header">
            <section class="logo text-center">
                <h1><a ng-href="#/">Video Content Portal</a></h1>
            </section>
        </div>

        <div class="signup-body">
            <div class="container">
                <div class="form-container">
                    <span ng-show="registrationError" class="help-block">
                                    {{registrationErrorMessage}}
                                </span>
                    <form class="form-horizontal text-center">
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-user"></span>
                                </span>
                                <input type="text" class="form-control input-lg" placeholder="Name" ng-model="name" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-user"></span>
                                </span>
                                <input type="text" class="form-control input-lg" placeholder="Surname" ng-model="surname" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-user"></span>
                                </span>
                                <input type="text" class="form-control input-lg" placeholder="Login" ng-model="login" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                <input type="email" class="form-control input-lg" placeholder="Email" ng-model="email" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                                <input type="password" class="form-control input-lg" placeholder="Password" ng-model="password" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                                <input type="password" class="form-control input-lg" placeholder="Repeat Password" ng-model="repeat_password" required="required">
                            </div>
                        </div>

                        <div class="divider divider-lg"></div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block" ng-click="doRegistration()">
                                Sign up
                                <div class="ripple-wrapper"></div></button>
                        </div>

                    </form>
                    <div class="divider"></div>
                    <section class="additional-info">
                        <p class="text-right">
                            <a href="#/signin">Log in now</a>
                        </p>
                    </section>
            </div>
            </div>
        </div>

    </div>
</div>