<div class="container">
    <h1>Video details</h1>

    <form role="form">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Video Title" ng-model="video.title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder=" Video Description" ng-model="video.description">
        </div>
        <!--<div class="form-group">-->
            <!--<label for="surname">Surname</label>-->
            <!--<input type="text" class="form-control" id="surname" placeholder="Surname" ng-model="user.surname">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="email">Email</label>-->
            <!--<input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">-->
        <!--</div>-->
        <button class="btn btn-success btn-sm" ng-click="updateVideo()">
            Update</button>
        <button class="btn btn-danger btn-sm" ng-click="cancel(video.owner.id)">
            Cancel</button>
    </form>
</div>